/* step 1
adds animations for the logo in header */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Step #2:
    Edit the body element to use the Poppins font (using Google fonts)
 with serif as a backup.  It should also use the image “concrete_seamless.png”
 as a background-image with a backup color of #f1f1f1. */


header img {
    animation: fadeIn 2s;
}

body {

font-family: "Poppins", serif;
background-image: url("../images/concrete_seamless.png");
background-color: #f1f1f1;
}

a:link, a:visited {
    text-decoration: underline;
    color: #007BFF;

}

/* step 3: 
This switches the header for all instances to use flex */
header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}

/* step 4:
this changes the nav_links class to use flex. it only modifies the nav_links class to use flex.  */
.nav_links{
    display: flex;
    flex-direction: column;
}

/* step 5:*/


/* step 6: 
Identify the proper selector to style ONLY those header elements that are direct children of a card class.  The required styling is the following: 
background: #288088,
solid 2px border using #45ADAD,
20px of padding on the top and the bottom, 
50px border-radius on the top left and right corners. 
*/

.card > header {
    background: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0;
    border-radius: 50px 50px 0 0;

} 

/* step 7/8:
This changes the card class to use flex at 450px.  */

@media screen and (min-width: 450px){
    .card {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .pricing {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .card button {
        display: flex;
        justify-content: space-between;
    }
}

/* step 9/10:
This changes the gallery class to use flex. Edits our gallery styles */

.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* step 11 -13
edits headers  and nav links using flex properties.
This also modifies pricing and Card classes to be spaced properly using flex */
@media screen and (min-width: 900px){
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    .nav_links {
        flex-direction: row;
    }

    .pricing {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-basis: 275px;
    }

    .card {
        display: flex;
        flex-direction: column;
        text-align: left;
        flex-basis: 325px;
    }
}

/* step 13
Locks header during scrolling, padding to prevent content coverage */
.header1 {
    position: fixed;
    width: 100%;
    padding-top: 10px;
}

main {
    padding-top: 200px;
}

/*step 14
Turns off screen animations*/
@media screen and (prefers-reduced-motion: reduce) {
    header img {
        animation: none;
    }
}

/* step 15
This customizes the print view of the page.  */
@media print {

    body {
        font: arial, helvetica, sans-serif;
        background-image: none;
    }

    .nav_links {
        display: flex;
        flex-direction: row;
        column-gap: 150px;
        justify-content: space-around;
    }

    

    .pricing {
    align-items: flex-end;
    }


    .card {
        display: flex;
        flex-direction: column;
        text-align: left;
        flex-basis: 325px;
        border: 2px solid #45ADAD;
        border-radius: 55px;
    }

    .gallery {
        display: none;
    }
    
    .card li:nth-of-type(2)::after {
        content: "👍";
    }
}